*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: black;
    color: white;
}

.page {
    width: 100%;
    height: 100vh;
}

#nickNamePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inputNick{
    padding: 15px;
    width: 100%;
    max-width: 400px;
    font-size: 19px;
    background-color: white;
    outline: 0;
    border: 1px solid gray;
    border-radius: 5px;
}

#chatPage {
    display: none;
    flex-direction: column;
}

.chatMain {
    flex: 1;
    display: flex;
}

.chatArea {
    flex: 1;
    background-color: rgb(24, 17, 34);
    padding: 0px 10px;
    overflow-y: auto;
    max-height: calc(100vh - 40px);
}
.chatArea li {
    padding: 5px;
}
.chatArea li span {
    color: blue;
    font-size: 17px;
    font-weight: bold;
    margin-right: 5px;
}
.chatArea li span.me {
    color: red;
}
.chat-actions {
    font-size: 15px;
    font-style: italic;
    color: gray;
}

.usersArea {
    width: 250px;
    background-color: rgb(33, 32, 51);
    overflow-y: auto;
    max-height: calc(100vh - 40px);
}

.usersArea li {
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
.usersArea li::after{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin-left: 5px;
}

.chatInput{
    display: flex;
    height: 40px;
}

.chatInput input{
    width: 100%;
    height: 40px;
    font-size:20px ;
    outline: 0;
    border: 1px solid grey;
}


@media (max-width:600px){
        #usersArea{
          width: 130px;
        }
       
}
